
/*----------HEADER--------------------------------------------*/

.logo{
	margin-top:40px;
}

.myname{
	margin-top:100px;
	margin-bottom:30px;
	font-weight:700;
	font-size:65px;
	line-height:1.2;
	}
	
.uiuxdesigner{
	font-size:36px;
	font-weight: 300;
}

.seattle{
	margin-top:20px;
	margin-bottom:20px;
}

.social_media{
	width:100px;
	height:250px;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
	border-left: 7px solid #d8d8d8;
	border-top: 7px solid #d8d8d8;
	border-bottom: 7px solid #d8d8d8;
	position:fixed;
	right:0px;
	top:150px;
	z-index:1;
}

/*------MONOCLE------*/

.monocle_bg{
	background-color:#45b3bc;
	height:450px;
}