/*---Spcaing fixes-----*/

.center_object {
	margin:0 auto;
	display:block;
}

/*-----Text colors------*/

.purple{
	background-color:#4d4652;
}

.blue{
	background-color:#45b3bc;
}

.white { 
	color:#ffffff;
}

.navy_blue{
	background-color:#004153;
}


/*----------HEADER--------------------------------------------*/

.logo {
	margin-top:40px;
	width:45px;
	z-index:1;
}

.myname {
	margin-top:100px;
	margin-bottom:30px;
	font-weight:700;
	line-height:1.2;
}
	
.uiuxdesigner{
	font-weight: 300;
}

.seattle {
	margin-top:20px;
	margin-bottom:80px;
	font-weight: 300;
}

.social_container{
	width:217px;
	height:50px;
	display:block;
	margin:0 auto;
}

.social {
	text-align:right;
	display:inline;
	float:right;
	letter-spacing:20px;
}

.iconcolor {
	color:#939393;
	transition: all 0.3s ease;
	font-size:26px;
	letter-spacing:20px;
}

.iconcolor:first-child{
	margin-left:10px;
}

.iconcolor:hover {
	color:#353535;
}

/*------Project Sections------*/

.section_header {
	margin-bottom:10px; 
	margin-top:50px;
	text-align:center; 
}

.section_subheader {
	margin-bottom:60px;
	text-align:center; 
}

.section_graphic{
	margin-top:45px;
}


/*------Project Detail Page-----*/

.title_subheader{  /*--in the case of only two headers, adds 80 bottom margin--*/
	font-weight: 300;
	margin-bottom:80px;
}

.article_header {
	margin-bottom:10px; 
	margin-top:40px;
}

.article_subheader {
	font-weight:300;
}

.video_splash{
	position:absolute;
	top:0px;
	right:0px;
	height:100%;
}

.bleed_image{
	margin-top:50px;
	margin-bottom:50px;
}

/*------Slide in Content--------*/

.come-in {
  -webkit-transform: translateY(150px);
  transform: translateY(150px);
    -webkit-animation: come-in 0.8s ease forwards;
  animation: come-in 0.8s ease forwards;
}

.come-in:nth-child(odd) {
  animation-duration: 0.6s;
    -webkit-animation-duration: 0.6s;
}

.already-visible {
-webkit-transform:translateY(0);
  transform: translateY(0);
  animation: none;
  -webkit-animation:none;
}

@keyframes come-in {
  to {
    transform: translateY(0);
	-webkit-transform: translateY(0);
  }
}

@-webkit-keyframes come-in {
  to {
    transform: translateY(0);
	-webkit-transform: translateY(0);
  }
}