
/*----------HEADER--------------------------------------------*/

.logo{
	margin-top:40px;
}

.myname{
	margin-top:100px;
	margin-bottom:30px;
	font-weight:700;
	line-height:1.2;
	}
	
.uiuxdesigner{
	font-weight: 300;
}

.seattle{
	margin-top:20px;
	margin-bottom:100px;
	font-weight: 300;
}

.social{
	margin-top:65px;
	margin-right:40px;
	text-align:right;
}

.iconcolor{
	color:#d8d8d8;
}

.iconcolor:hover{
	color:#353535;
}

/*------MONOCLE------*/

.center_object{
	margin:0 auto;
	display:block;
}

.monocle_bg{
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  padding-top:50px;
    padding-bottom:50px;
	background-color:#45b3bc;
}

.monocle_bg_nopad{
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  padding-top:50px;
	background-color:#45b3bc;
}

.mono_splash{
margin-top:50px;
}